fastapi>=0.111.0
uvicorn>=0.30.1
pydantic>=2.7.4
pydantic-settings>=2.3.4
livef1>=0.2.1
groq>=0.9.0
stripe>=10.1.0
discord.py>=2.4.0
websockets>=12.0
python-dotenv>=1.0.1
python-multipart>=0.0.9
pandas>=2.2.2
httpx>=0.27.0
pytest>=8.2.2
